flows/Add_Sprint_From_Existing_Project-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Add Sprint From Existing Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Sprint From Existing Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Project_By_Name</name>
        <label>Get Project</label>
        <locationX>501</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sprint_to_add</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project_Name_To_Find</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputReference>Found_Project</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Find_a_Project</name>
        <label>Find a Project</label>
        <locationX>278</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Project_By_Name</targetReference>
        </connector>
        <fields>
            <name>Project_Name_To_Find</name>
            <dataType>String</dataType>
            <fieldText>Project Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Sprint_to_add</name>
        <label>Sprint to Add</label>
        <locationX>726</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Project_Id</name>
            <fieldText>Project Id: {!Found_Project.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Name</name>
            <fieldText>Project Name: {!Found_Project.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sprint_Name</name>
            <dataType>String</dataType>
            <fieldText>Sprint Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sprint_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Found_Project.Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Sprint Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sprint_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Found_Project.Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Sprint End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Find_a_Project</startElementReference>
    <variables>
        <name>Found_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
