flows/Scrum_Flow-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Scrum_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scrum_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Project</name>
        <label>New Project</label>
        <locationX>510</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>Project_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Sprint_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Project_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Project_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Project_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Sprint</name>
        <label>New Sprint</label>
        <locationX>974</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>Sprint_Id</assignRecordIdToReference>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Sprint_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Sprint_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Project_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Sprint_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordCreates>
    <screens>
        <name>Project_Information</name>
        <label>Project Information</label>
        <locationX>268</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Project</targetReference>
        </connector>
        <fields>
            <name>Project_name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New Project</stringValue>
            </defaultValue>
            <fieldText>Project name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Project Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Project End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Sprint_Information</name>
        <label>Sprint Information</label>
        <locationX>758</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Sprint</targetReference>
        </connector>
        <fields>
            <name>Project_Id_Label</name>
            <fieldText>Project Id: {!Project_Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Name_Label</name>
            <fieldText>Project Name: {!Project_name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sprint_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New sprint</stringValue>
            </defaultValue>
            <fieldText>Sprint Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sprint_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Sprint Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sprint_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Sprint End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Project_Information</startElementReference>
    <variables>
        <name>Project_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sprint_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
